<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drizzy Restaurant</title>
</head>
<body>
    <footer class="footer" id="footer">
        <div class="container"><br>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="social-icon">
                        <a href="homepage.html"><i class="fa fa-facebook"></i></a>
                        <a href="homepage.html"><i class="fa fa-twitter"></i></a>
                        <a href="homepage.html"><i class="fa fa-pinterest"></i></a>
                        <a href="homepage.html"><i class="fa fa-rss"></i></a>
                    </div>
                    <div class="copyright">
                        <p class="white"> copyright &copy; <b>Drizzy</b></p>
                        <p><i class="fa-phone"></i> +977 (01) 523 7361 &nbsp; <i class="fa-envelope-o"></i> thedrizzyhotel69@gmail.com</p>

                    </div>

                </div>

            </div>

        </div>
</body>
</html>