{% extends 'header.html'%}
      <!----gallery -->
     {% block content %}
      <div class id="gallery"><br>
        <div class="container">
        <h3 class="text-center"><br>Gallery<br><br></h3>
            <div class="d-flex flex-row flex-wrap justify-content-center">
               <div class="d-flex flex-column">
                  <img src="/mainapp/templates/img/1.jpg" class="img-fluid">
                  <img src="/mainapp/templates/img/2.png" class="img-fluid">
               </div>
               <div class="d-flex flex-column">
                  <img src="/mainapp/templates/img/3.jpeg" class="img-fluid">
                  <img src="/mainapp/templates/img/4.jpeg" class="img-fluid">
               </div>
               <div class="d-flex flex-column">
                   <img src="/mainapp/templates/img/5.jpeg" class="img-fluid">
                   <img src="/mainapp/templates/img/6.jpeg" class="img-fluid">
               </div>
               <div class="d-flex flex-column">
                   <img src="/mainapp/templates/img/7.jpeg" class="img-fluid">
                   <img src="/mainapp/templates/img/8.jpeg" class="img-fluid">
               </div>
            </div>
        </div>
    </div><br><br>
    {% endblock %}
    <!----end of gallery -->
