<!DOCTYPE html>
<html lang="en">
<head>
<link rel="icon" type="image/x-icon" sizes="32x32" href="/mainapp/templates/img/logo1.png">    <!--favicon-->
<title>Drizzy Restaurant</title>
<meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/mainapp/templates/static/css/style.css" rel="stylesheet" type="text/css">     <!--style.css document-->
</head>

<body>
 <!---navbar--->   
<nav class="navbar navbar-expand-md navbar-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="homepage.html">
		<strong><em>Drizzy</em></strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navi">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navi">
                <ul class="navbar-nav mr-auto">
                    
                    
                    
                    <li class="nav-item">
	                 <a class="nav-link" href="aboutus.html">About Us</a>
	             </li>
	            <li class="nav-item">
	                <a class="nav-link" href="gallery.html">Gallery</a>
	            </li>
                    <li class="nav-item">
                        <a class="nav-link" href="add_reservation.html">Reservation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="footer.html">Find Us</a>
                    </li>
                                        
                </ul>
                
                    
                    <div>
                    <ul class="navbar-nav ml-auto">
			<li><a class="nav-link fa fa-sign-in" data-toggle="modal" data-target=" ">&nbsp;Sign Up</a></li>
			<li><a class="nav-link fa fa-user-plus" data-toggle="modal" data-target=" ">&nbsp;Login</a></li>
                    </ul> 
                    </div>
                                  
            </div>
        </div>
</nav>

</body>
</html>